# Python-related ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyz
*.pyw
*.pyz
*.pyproj
*.DS_Store

# Virtual Environment
venv/
env/
ENV/

# Flask related
instance/
.webassets-cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flutter/Dart-related ignores
/build/
/.dart_tool/
/.idea/
*.iml
.packages
.pub/
.dart_tool/

# Android/IOS
/android/
/build/
/ios/
/*.lock
/ios/Flutter/.last_build_id

# macOS
.DS_Store

# IntelliJ
.idea/

# Visual Studio Code
.vscode/

# Compiled Java class files
*.class

# Compiled Java module files
*.module

# Generated
generated_*

# Logs
*.log

# Android Studio
/*/android/app/libs
/*/android/app/src/main/assets/flutter_assets
/*/android/key.properties

#project specific
diagrams/